Window {
    width : 600px;
    height : 450px;
    background-color : #33fffc;
}
#content {
    width : 100%;
    height : 100%;
}

#close {
	width : 10px;
	height: 10px;
	background-color: #000000;
	background-image: image-rect('button_close.png', 0, 0, 10px, 10px);
}

#close:hover{
	background-image: image-rect('button_close.png', 0, 10px, 10px, 10px);
}

#ab {
    height : 60px;
    margin : 10px 20px 0 0;
    background-color: #00FF00;
	background-image: image-rect('button_close.png', 0, 0, 10px, 10px);
}

#ab:hover{
    background-color: #0000FF;
	background-image: image-rect('button_close.png', 0, 10px, 10px, 10px);
} 

#zz {
    width : 50%;
    height : 60px;
    margin-top : 20px;
    background-color: #f146ff;
}

.span {
    background-color: #0c5a4f;
    border-left: 15px #D3D;    
}

.span:hover{
    background-color: #52c34c;
}


.block {
    width : 50px;
    height : 60px;
    margin : 10px;   
    border: 2px #000000;    
    border-radius: 5px;
    background-color: rgba(255, 86, 79, 0.60);
}

.span:hover .block{
    background-color: #c3000e;
}

.block:hover{    
    background-color: #0015ff;
    cursor: hand;
}