Window {
    width : 600px;
    height : 450px;
    background-color : #33fffc;
}
#ab {
    height : 60px;
    margin-left : 10px;
    margin-top : 20px;
    background-color: #00FF00;
}

#zz {
    width : 50%;
    height : 60px;
    margin-top : 20px;
    background-color: #f146ff;
}

.span {
    background-color: #63995a;
}

.block {
    width : 50px;
    height : 60px;
    margin-left :10px;
    margin-top : 10px;
    margin-bottom : 10px;
    background-color: #ff4b57;
}